{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, msg in messages %}

            <div class="{{ category }}" role="alert">{{ msg }}</div>

        {% endfor %}
    {% endif %}
{% endwith %}

<h1>All genes in database</h1>
<br>

<table class="center">
  <tr>
    <th>Gene ID</th>
    <th>Gene name</th>
    <th>Organism name</th>
    <th>Protein name</th>
    <th>View in dashboard</th>
    <th>Delete from database</th>
  </tr>

  {% for gene in all_genes %}

  <tr>
    <td>{{ gene.uniprot_id }}</td>
    <td>{{ gene.gene_name }}</td>
    <td>{{ gene.organism_name }}</td>
    <td>{{ gene.protein_name }}</td>
    <td><a href="{{ url_for('dashboard', gene_id=gene.id) }}" class="button">View</a></td>
    <td><a href="{{ url_for('delete', gene_id=gene.id) }}" class="button">Delete</a></td>
  </tr>

  {% endfor %}

</table>

{% endblock %}